[Desktop Entry]
Version=3.122
Type=Application
Name=FoFiX
Comment=Frets on Fire X: a fork of Frets on Fire with many added features and capabilities
Exec=fofix
Icon=net.github.fofix
Categories=Game;
